/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';


@import 'ngx-toastr/toastr-bs4-alert';


@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@import 'ngx-toastr/toastr-bs4-alert';

@import 'ngx-toastr/toastr-bs5-alert';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(135deg, #aca899 0%, #7e7877 100%); /* Add your desired gradient colors */
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
 }
